.single-post-container{
    padding: 3px 0;
    border-bottom: 1px solid rgb(63,63,63);
}

.container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 16px;
    text-decoration: none;
}

.left{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(157, 232, 157);
}

.left img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.right{
    width: 95%;
    margin-left: 7px;
}

.right a{
    text-decoration: none;
    color: white;
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(119, 119, 119);
}

.user > p{
    font-size: 17px;
    color: white;
}

.user > p > span{
    font-weight: light;
    color: rgb(119, 119, 119);
}

.text{
    margin: 5px 0;
}

.post-image{
    margin: 15px 0;
    text-align: center;
    border-radius: 20px;
}

.post-image img{
    width: 100%;
    border-radius: 20px;
}

.elements{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 22px;
    color: rgb(104, 104, 104);
}

.elements > p{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.elements > p > span{
    margin-left: 5px;
    font-size: 16px;
}

.repost-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1px 35px;
    color: rgb(119, 119, 119);
}

.repost-info > p{
    margin-left: 10px;
}

.time{
    font-size: 16px;
    font-weight: 200;
}

@media screen and (max-width: 450px) {
    .elements{
        font-size: 12px;
    }

    .elements > p > span{
        font-size: 12px;
    }
}