.button{
    padding : 12px;
    margin: 5px 0;
    width : 310px;
    font-weight: bold;
    font-size : 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-width: 0px;
    cursor: pointer;
}