.credentials-signin{
    color : white;
    margin-top : 16%;
}

.credentials-signin > h2{
    font-size: 18px;
    margin-bottom: 5%;
}

.credentials-signin button{
    background-color: transparent;
    border: 1px solid rgb(63, 63, 63);
    color : #00B2FF;
}