.credentials-signin{
    color : white;
    margin-top : 65px;
}

.credentials-signin > h2{
    font-size: 18px;
    margin-bottom: 18px;
}

.credentials-signin button{
    background-color: transparent;
    border: 1px solid rgb(63, 63, 63);
    color : #00B2FF;
}

@media screen and (max-width: 1000px) {
    .credentials-signin{
        margin-top: 80px;
    }
}

@media screen and (max-width: 500px) {
    .credentials-signin{
        margin-top: 70px;
    }
}