.footer{
    color : rgb(109, 109, 109);
    list-style: none;
    font-size: 14px;
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer > li{
    padding: 4px 6px;
}