.container{
    position: absolute;
    color: white;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 600px;
    padding: 12px 0 12px;
    border-radius: 20px;
}

.form-container{
    padding: 0 80px;
}

.title{
    width: 100%;
    font-size: 1.25rem;
    margin-top : 30px;
}

.form{
    width: 100%;
    margin: 10px 0;
}

.input-box{
    margin : 30px 0;
}

.date-of-birth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-of-birth-container h3{
    font-size: 16px;
    margin: 6px 0;
}

.date-of-birth-container p{
    font-size: 14px;
    color: rgb(98, 98, 98);
}

.date-of-birth-container div{
    margin : 15px 0;
}

.next-button{
    width: 100%;
    margin-top : 90px;
    padding : 16px;
    background-color: rgb(138, 136, 136);
    font-size: 18px;
}

