.sidemenu{
    color: white;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    padding: 15px 0;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image{
    width: 40px;
    height: 5%;
    padding-left: 10px;
}

.menu-items{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    list-style: none;
    height: 85%;
}

.menu-items > li > a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.menu-items > li > a > span{
    margin-left: 5px;
    font-size: 22px;

}

.menu-items > li{
    padding: 12px 20px 12px 10px;
    border-radius: 25px;
}

.menu-items > li:hover{
    background-color: rgb(25, 25, 25);
}

.button{
    width: 100%;
    padding: 17px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    border-width: 0px;
    margin-top: 5px;
}

.button:hover{
    background-color: rgb(223, 223, 223);
}

.profile{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.profile-image{
    width: 50px;
}

.profile-image img{
    background-color: green;
    border-radius: 50%;
}

.profile-info{
    width: 130px;
}

.profile-info h3{
    font-size: 18px;
}

.profile-info p{
    font-weight: lighter;
    color: rgb(133, 132, 132)
}

