.page{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    /* max-width: 90%; */
    width: 100%;
}

.left{
    width: 100%;
    max-width: 600px;
    position: relative;
    border-left: 1px solid rgb(63,63,63);
    border-right: 1px solid rgb(63,63,63);
}

.right{
    margin-left: 20px;
    width: 350px;
    padding: 0 5px;
    padding-right: 15px;
}

@media screen and (max-width : 1035px) {
    .right{
        visibility: hidden;
        width: 0px;
        padding: 0px;
        margin: 0px;
    }
}